<div class="client-header">
  <h1>Edit Client</h1>
</div>

<%= render 'form', user: @user %>


<div class="footer-wrapper shared-bar">
  <div class="footer-link">
    <%= link_to "Home", root_path %>
  </div>
</div>