<p id="notice"><%= notice %></p>

<div class="user-show-header">
  <h1>Users</h1>
</div>

<div class="user-grid-wrapper">
  <% @users.each do |user| %>
    <div class="user-wrapper">
      <%= link_to user.name, user %>
    </div>
  <% end %>
</div>

<div class="footer-wrapper shared-bar">
  <div class="footer-link">
    <%= link_to "Home", root_path %>
  </div>
  <div class="footer-link">
    <%= link_to 'New User', new_user_path %>
  </div>
</div>
