<h1>Welcome to the Septic Builder</h1>
<div>
  <% @properties.each do |property| %>
    <div>
      <%= link_to "#{property.number} #{property.street}, #{property.city}", property_path(property)%>
    </div>
  <% end %>
</div>
<div class="footer-wrapper shared-bar">
  <div class="footer-link">
    <%= link_to "Home", root_path %>
  </div>
</div>
