<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_test_hole_path(@test_hole) %> |

<div class="footer-wrapper shared-bar">
  <div class="footer-link">
    <%= link_to "Home", root_path %>
  </div>
</div>